if SHIELD_A1PLSIT_LEFT

config ZMK_KEYBOARD_NAME
    default "A1split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_A1PLSIT_LEFT

if SHIELD_A1PLSIT_LEFT || SHIELD_A1PLSIT_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_A1PLSIT_LEFT || SHIELD_A1PLSIT_RIGHT
